name: CI/CD Pipeline

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop, main ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    services:
      # Podižemo MySQL unutar GitHub Actions da bi testovi mogli da pričaju sa bazom
      db:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: rezervacije_sala
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # Koristimo istu verziju kao u Dockeru

      - name: Install dependencies
        run: npm install

      - name: Generate Prisma Client
        run: npx prisma generate

      - name: Run Tests
        # Ovde se pokreću oni testovi koje smo napravili (npr. login.test.js)
        run: npm test

      - name: Docker Build Check
        # Proveravamo da li Dockerfile ispravno bilduje image
        run: docker build -t my-app .